.signInContainer{
  width: 30%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  padding: 15px;
  // background-color: red;

  .imageGoogle{
    border-radius: 5px;
    cursor: pointer;
  }


}

.loggedInDetails {
  width: 100px;
  height: 150px;
  display: flex;
  flex-direction: column;
  // background-color: orange;

  .pictureContainer {
    margin-top: 10px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;

    .userPic {
      object-fit: cover
    }
  }
  .buttonSignOutContainer{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: red;

    .buttonSignOut {
      width: 80%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
    }
  }
}

