.calendar_container {
  width: 100%;
  // justify-content: center;
  // background-color: orange;

  .react-calendar{
    width: 80%;

    .react-calendar__navigation__prev-button,
    .react-calendar__navigation__prev2-button,
    .react-calendar__navigation__next-button,
    .react-calendar__navigation__next2-button {
      display: none;
    }

    .react-calendar__navigation__label {
      flex-grow: 0;
      font-size: 32px;
    }

    .react-calendar__




    .react-calendar__month-view__weekdays{
      color: black;
    }
  }
}

