/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./app/page.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_main__ux7yf {
  display: flex;
  flex-direction: column;
  background-color: #001822;
}
.page_main__ux7yf .page_header__8kWA1 {
  width: 100%;
  height: 15dvh;
  display: flex;
  justify-content: center;
}
.page_main__ux7yf .page_header__8kWA1 .page_title__QKy_a {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.page_main__ux7yf .page_header__8kWA1 .page_title__QKy_a img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.page_main__ux7yf .page_body__Kr85W {
  width: 100%;
  height: 80dvh;
  display: flex;
  flex-direction: column;
  background-color: #001822;
  color: white;
  font-size: 24px;
}
.page_main__ux7yf .page_body__Kr85W .page_dateParkingMenuContainer__h6P13 {
  width: 100%;
  height: 75%;
  display: flex;
}
.page_main__ux7yf .page_body__Kr85W .page_dateParkingMenuContainer__h6P13 .page_dateTime__sDf0h, .page_main__ux7yf .page_body__Kr85W .page_dateParkingMenuContainer__h6P13 .page_infoParking__PNuiU, .page_main__ux7yf .page_body__Kr85W .page_dateParkingMenuContainer__h6P13 .page_menu__RLBMx {
  width: 33.3%;
  border: 1px solid white;
}
.page_main__ux7yf .page_body__Kr85W .page_attendingContainer__FEUKY {
  height: 25%;
  width: 100%;
}
.page_main__ux7yf .page_footer__y6zWX {
  width: 100%;
  height: 5dvh;
  display: flex;
  justify-content: center;
  background-color: #001822;
}
.page_main__ux7yf .page_footer__y6zWX .page_buttonContainer__ENqIV {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/RSVP.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.RSVP_rsvpBtnContainer__jNgux {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.RSVP_rsvpBtnContainer__jNgux .RSVP_rsvpBtn__zc0F0 {
  width: 100%;
  height: 100%;
  font-size: 24px;
  border-radius: 20px;
}

.RSVP_popupOverlay__vPMQC {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 1, 1, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.RSVP_popup__i3TyU {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  width: 50%; /* Adjust this value as needed */
  height: auto; /* Adjust this value as needed */
  max-height: 80%; /* Adjust this value as needed */
  overflow-y: auto; /* This will make sure the content scrolls if it exceeds the max height */
}
.RSVP_popup__i3TyU .RSVP_popupContent___spdu {
  margin-bottom: 20px;
}
.RSVP_popup__i3TyU .RSVP_popupContent___spdu form {
  display: flex;
  flex-direction: column;
}
.RSVP_popup__i3TyU .RSVP_popupContent___spdu form label {
  margin-bottom: 10px;
}
.RSVP_popup__i3TyU .RSVP_popupContent___spdu form input,
.RSVP_popup__i3TyU .RSVP_popupContent___spdu form select {
  margin-top: 5px;
  margin-bottom: 15px;
}
.RSVP_popup__i3TyU .RSVP_popupContent___spdu button {
  margin-top: 10px;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./components/DateTimeSection.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.DateTimeSection_dateSectionContainer__e4dxZ {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.DateTimeSection_dateSectionContainer__e4dxZ .DateTimeSection_sectionTitle__iX0DD {
  height: 7%;
  width: 100%;
}
.DateTimeSection_dateSectionContainer__e4dxZ .DateTimeSection_sectionDateAndTime__HI2W3 {
  width: 100%;
  height: 13%;
  background-color: red;
  display: flex;
  flex-direction: column;
}
.DateTimeSection_dateSectionContainer__e4dxZ .DateTimeSection_sectionDateAndTime__HI2W3 .DateTimeSection_sectionDate__APPO7 {
  height: 50%;
  width: 100%;
  background-color: orange;
}
.DateTimeSection_dateSectionContainer__e4dxZ .DateTimeSection_sectionDateAndTime__HI2W3 .DateTimeSection_sectionTime__JHoQn {
  height: 50%;
  width: 100%;
  background-color: blue;
}
.DateTimeSection_dateSectionContainer__e4dxZ .DateTimeSection_calendar__LL13P {
  height: 50%;
  width: 100%;
}
